################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorBlog/obj
/BlazorBlog/Properties/launchSettings.json
/.vs
/BlazorBlog/bin/Debug/net9.0
/BlazorBlog.Application/obj
/BlazorBlog.Domain/obj
/BlazorBlog/bin/Debug/net10.0
/BlazorBlog.Application/bin/Debug/net10.0
/BlazorBlog.Domain/bin/Debug/net10.0
/BlazorBlog.Infrastructure/obj
/BlazorBlog.Infrastructure/bin/Debug/net10.0
/BlazorBlog.Application.Tests/bin/Debug/net10.0
/BlazorBlog.Application.Tests/obj
/BlazorBlog.Domain.Tests/obj
/BlazorBlog.Domain.Tests/bin/Debug/net10.0
/BlazorBlog.Infrastructure.Tests/obj
/BlazorBlog.Infrastructure.Tests/bin/Debug/net10.0
/BlazorBlog.Integration.Tests/obj
/BlazorBlog.Integration.Tests/bin/Debug/net10.0
/BlazorBlog.WebUI.Server.Tests/obj
/BlazorBlog.WebUI.Server.Tests/bin/Debug/net10.0
/CleanTemplate.Persistence.Test/obj
