################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorBlog/obj
/BlazorBlog/Properties/launchSettings.json
/.vs
/BlazorBlog/bin/Debug/net9.0
/BlazorBlog.Application/obj
/BlazorBlog.Domain/obj
