@page "/articles"
@inject IArticleService ArticleService
@attribute [StreamRendering]


<PageTitle>Articles</PageTitle>


@if (articles.Count() == 0)
{
    <p>Loading....</p>
}
else
{
    <small class="text-muted">Total Count: @articles.Count()</small>
    foreach (var article in articles)
    {
        <h4 class="fs-4">@article.Title</h4>
        <p>@article.Content</p>
        <small class="text-muted">Published on @article.PublishedOn.ToString("MMMM dd, yyyy")</small>
    }

}

@code {
    private List<Article> articles = new List<Article>();


    protected override async Task OnInitializedAsync()
    {
        var result = await ArticleService.GetAllArticlesAsync();
        if (result is not null)
        {
            articles = result;
        }
        
    }
}
