@page "/"

<PageTitle>Home</PageTitle>

<!-- Hero Section -->
<section class="py-5 text-center bg-dark border-bottom border-secondary text-light">
    <div class="container-lg">
        <h2 class="display-3 fw-bold mb-3">Clean Architecture</h2>
        <p class="fs-5 text-secondary">Template</p>

        <p class="fs-6 text-secondary mb-4">
            
        </p>

        <div>
            <span class="badge bg-secondary text-dark me-2 mb-2">Blazor Server</span>
            <span class="badge bg-secondary text-dark me-2 mb-2">EF Core</span>
            <span class="badge bg-secondary text-dark me-2 mb-2">.NET 9</span>
            <span class="badge bg-secondary text-dark mb-2">Clean Architecture</span>
        </div>
    </div>
</section>

<!-- Core Features -->
<section class="py-5 bg-light border-bottom">
    <div class="container-lg">
        <div class="text-center mb-5">
            <h2 class="fw-bold">Core Features</h2>
        </div>

        <div class="row g-4">

            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold">Architecture</h5>
                        <ul class="list-unstyled">
                            <li>✔ Clean Architecture</li>
                            <li>✔ EF Core</li>
                            <li>✔ Repository Pattern</li>
                            <li>✔ DRY</li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold">Presentation</h5>
                        <ul class="list-unstyled">
                            <li>✔ Blazor Server</li>
                            <li>✔ Boostrap 5</li>
                            <li>✔ JS Runtime Modal</li>
                            <li>✔ Interactivity</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold">Testing</h5>
                        <ul class="list-unstyled">
                            <li>○ NUnit</li>
                            <li>○ Integration Tests</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold">Additionals</h5>
                        <ul class="list-unstyled">
                            <li>✔ Soft Delete</li>
                            <li>○ Logging</li>
                            <li>○ Audit Trailing</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Feature Applications -->
<section class="py-5 bg-dark text-light">
    <div class="container-lg">

        <div class="text-center mb-5">
            <h2 class="fw-bold">Feature Applications</h2>
        </div>

        <div class="row g-4">

            <!-- Card 1 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card bg-secondary text-light h-100">
                    <div class="row g-0 h-100">

                        <div class="col-4">
                            <img src="/favicon.png"
                                 class="img-fluid h-100 w-100 object-fit-cover rounded-start">
                        </div>

                        <div class="col-8">
                            <div class="card-body d-flex flex-column h-100">
                                <h5 class="fw-bold">Simple Article Page</h5>

                                <ul class="mb-3 small">
                                    <li>✔ CRUD Operations</li>
                                    <li>✔ Clean Architecture</li>
                                    <li>○ Comments</li>
                                    <li>○ Reaction</li>
                                </ul>

                                <div class="mt-auto">
                                    <a href="/articles" class="btn btn-light btn-sm w-100">
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</section>

<!-- Footer -->
<footer class="py-4 bg-dark text-center text-secondary">
    <div class="container">
        <small class="d-block mb-1">© 2026 Blazor Blog - Built with .NET 9</small>
        <small class="d-block">Developer: Magnaye, Fernando Jose</small>
    </div>
</footer>